@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

@theme {
    --font-cursive: "Pacifico", cursive;
    --color-chocolate: #86563c;
    --color-chocolate-dark: #6c3f31;
}